.FormParts{
    background-color: #fff;
    margin: 1% 5%;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
}

.Form{
    display: flex;
    flex-direction: inherit;
    align-items: center;
    justify-content: center;
}

.Input{
    width: 100%;
    height: 30px;
    font-size: 20px;
    padding: 0 10px;
    border-right: none;
    border-top: none;
    border-left: none;
}

.Input:focus{
    outline: none;
}

.FormButton{
    background-color: #12FF0D;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    float: right;
}

.FormButton:hover{
    background-color: #12FF0D;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transform: scale(0.9);
    float: right;
}